<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Simon Borer - Resources</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-indigo.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Open+Sans:300" rel="stylesheet">
    <link href="{{ site.url }}assets/main.css" rel="stylesheet">
    <style>
    .mdl-layout__container {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.mdl-layout-title {
    font-family: 'Catamaran', serif;
}

.mdl-layout-title > a {
    color: #fff;
    text-decoration: none;
}

.hide {
	display: none;
}

.show {
	display: auto;
}

.collection-table {
	white-space: normal;
	width: 100%;
}
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="custom-header mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><a href="{{ site.url }}">Living Memory</a></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a href="mailto:simon.borer@gmail.com" class="mdl-navigation__link">contact</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
          {% for collection in site.collections %} {% capture label %}{{ collection | first }}{% endcapture %} {% if label == "labelposts" %} {% else %}
             <a class="mdl-navigation__link" href="{{ site.url }}{{ label | replace: 'label', '' }}">{{ label | replace: 'label', '' }}</a> {% endif %} {% endfor %}
        </nav>
      </div>
        <main class="mdl-layout__content">
