{% include header.html %}

<!-- This loops through the paginated posts -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--12-col-tablet">
  	{{ content }}
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--12-col-tablet">
  	{% for publish in site.publishing %}	
    <h2><a href="publishing/">{{ publish.title }}</a></h2>
    <div>Next deadline: {{ publish.next-deadline }}</div>		
	{% endfor %}
  </div>
</div>
	
{% include footer.html %}